*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
.idea

# 编译产物
**/build/
*.apk
*.aab
*.class
*.dex
*.jar
*.odex

# 签名文件
*.jks
*.keystore
keystore.properties
.worktrees/
